.linkToArticle{
  font-family: Verdana,Geneva,sans-serif;
  padding: 15px 0;
  border-bottom: 1px solid #000;
}
.linkToArticle a{
  padding: 20px 0;
}

.linkToArticle a:hover{
  text-decoration: none;
}
